.datepicker {
    display: none;
    position: absolute;
    top: 0;left: 0;
    color: #333;
    font-family: arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 3px #000;
}
.datepicker .date-box{
    width: 100%;
}
.datepicker .date-controller{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 0 3px;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #16CAAD;
}
.datepicker .date-controller span{
    float: left;
    display: inline-block;
    text-align: center;
}
.datepicker .date-controller i{
    font-style: normal;
    padding: 0 6px;
    cursor: pointer;
    transition:color 0.3s ease;
}
.datepicker .date-change{
    width: 15%;
}
.datepicker .date-controller i:hover{
    color: #fff;
}
.datepicker .date-switch{
    width: 70%;
}

.datepicker .date-week{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 4px 0;
    background-color: #16CAAD;
    border-bottom: 1px solid #888;
}
.datepicker .week{
    overflow: hidden;
    display: inline-block;
    width: 14%;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.datepicker .week:first-child{
    margin-left: 1%;
}
.date-day{
    width: 100%;
    overflow: hidden;
}
.date-day .day-row{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 2px 0;
}
.date-day .day{
    display: inline-block;
    width: 14%;
    float: left;
    text-align: center;
    font-size: 13px;
    cursor: default;
}
.date-day .day:hover{
    background-color: #16CAAD;
}
.datepicker .day.selected{
    background-color: #E43838;
}
.datepicker .day.selected:hover{
    background-color: #E43838;
    color: #fff;
}
.datepicker .day.disabled{
    color: #aaa;
}
/*----------------------*/
.month-box{
    display: none;
    position: absolute;
    top: 0;left: 0;width: 100%;
    z-index: 1010;
    background-color: #fff;
    border-radius: 6px;
    height: 100%;
}
.month-box .date-controller{
    border-bottom: 1px solid #888;
}
.month-box .month12{
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.month-box .month{
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    font-size: 13px;
    cursor: default;
    padding: 16.6px 0;
}
.month-box .month:hover{
    background-color: #16CAAD;
}
.month-box .month.selected{
    background-color: #E43838;
}
.month-box .month.selected:hover{
    background-color: #E43838;
    color: #fff;
}
.month-box .month.disabled{
    color: #aaa;
}
/*----------------------*/
.year-box{
    display: none;
    position: absolute;
    top: 0;left: 0;width: 100%;
    z-index: 1012;
    background-color: #fff;
    border-radius: 6px;
}
.year-box .date-controller{
    border-bottom: 1px solid #888;
}
.year-box .year12{
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.year-box .year{
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    font-size: 13px;
    cursor: default;
    padding: 16.6px 0;
}
.year-box .year:hover{
    background-color: #16CAAD;
}
.year-box .year.selected{
    background-color: #E43838;
}
.year-box .year.selected:hover{
    background-color: #E43838;
    color: #fff;
}
.year-box .year.disabled{
    color: #aaa;
}