.content{
	padding-bottom: 20px;
	.title{
		margin-top: 16px;
		&:nth-child(n+2){
			margin-top: 32px;
		}
	}
	.part{
		padding-left: 24px;
	}
	.indent{
		padding: 0 24px;
	}
	.indent-second{
		padding: 0 48px;
	}
	ol.indent,ul.indent{
		padding: 0 48px;
	}
}