.content{
	padding-bottom: 20px;
	.title{
		
	}
	.indent{
		padding: 0 24px;
	}
	.indent-second{
		padding: 0 48px;
	}
	ol.indent,ul.indent{
		padding: 0 48px;
	}
}
.foreword{
	font-weight: normal;
	margin-top: 16px;
	border-top: none;
}
h3,.title{
	font-weight: normal;
	font-size: 28px;
	margin-top: 40px;
	padding-top: 8px;
	border-top: 1px dashed #999;
}
h4,.subtitle{
	font-weight: normal;
	font-size: 22px;
}
h5{
	font-weight: normal;
	font-size: 18px;
}