@charset "UTF-8";
/**
 * 
 * @authors Jerry
 * @date    2013-11-16 09:45:08
 * @version 0.0.1
 */
@import 'css3.less';

*{
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot');
	src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../font/icomoon.ttf') format('truetype'),
		url('../font/icomoon.woff') format('woff'),
		url('../font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.font-icon{
	font-family: 'icomoon';
}

body{
	font-family: 'Microsoft Yahei','SimHei',arial;
	font-size: 14px;
}
article,header,footer,section{
	display: block;
}
article{
	min-width: 768px;
	max-width: 960px;
	margin: 0 auto;
}
aside{
	width: 24%;
	float: left;
	img{
		width: 70%;
		margin: 15% 15% 1%;
		.border-radius(50%);
	}
	ul.contact{
		width: 70%;
		margin: 1% 15%;
		list-style: none;
		overflow: hidden;
		li{
			float: left;
			width: 50%;
			span{
				display: inline-block;
				width: 20px;
				height: 20px;
				padding: 2px;
			}
			span.mail{
				float: right;
				&:after{
					content: '\e604';
				}
			}
			span.git{
				float: left;
				&:after{
					content: '\e60a';
				}
			}
		}
	}
	.user{
		p{
			padding-bottom: 2%;
			border-bottom: 1px solid #999;
		}
	}
	.description{
		p{
			margin-top: 3%;
		}
	}
	p{
		width: 100%;
		text-align: center;
	}
}