@charset "UTF-8";
/**
 * 
 * @authors Jerry
 * @date    2013-11-16 09:45:08
 * @version 0.0.1
 */
@import 'css3.less';

*{
	padding: 0;
	margin: 0;
}
article,header,footer,section{
	display: block;
}
article{
	max-width: 960px;
	margin: 0 auto;
}
aside{
	width: 24%;
	float: left;
	img{
		width: 60%;
		margin: 20%;
		.border-radius(50%);
	}
}