---
layout: home
title: Blog -- 生活感想
---
<aside>
    <div class='wrapper'>
        <div class='block-content' id='logo'>
            <a href="/"><img src="/images/homepage/logo.png"></a>
        </div>
        <div class='block-content' id='author-info'>
            <div class='user'>
                <img src="/images/h1.jpg">
                <ul class='contact'>
                    <li><a class='font-icon mail' href='mailto:pashanhu6@hotmail.com'></a></li>
                    <li><a class='font-icon git' href='https://github.com/PaShanHu'></a></li>
                </ul>
                <p>UI设计-前端-程序员</p>
            </div>
            <div class='description'>
                <p>冠盖满京华，斯人独憔悴。</p>
            </div>
        </div>
        <div class='block-content' id='categories'>
            <h3>文章分类</h3>
            <div class='categories'>
                {% for category in site.categories %}
                        {% if category contains "opinion" %}
                            <a class='category active' href="/{{ category | first }}"><span class='active'>生活感想</span>
                        {% endif %}
                        {% if category contains "project" %}
                            <a class='category' href="/{{ category | first }}"><span>项目</span>
                        {% endif %}
                        {% if category contains "tech" %}
                            <a class='category' href="/{{ category | first }}"><span>技术文章</span>
                        {% endif %}
                        <i>{{ category | last | size }}</i>
                    </a>
                {% endfor %}
                {% if site.categories contains "project" %}
                {% else %}
                    <a class='category' href="/project/"><span>项目</span><i>2</i></a>
                {% endif %}
            </div>
        </div>
        <div class='block-content' id='tags'>
            <h3>文章标签</h3>
            <div class='tags'>
                {% for tag in site.tags %}
                    <a class='tag' href="/{{ tag | first }}/{{ tag | last | size }}"> {{ tag[0] }}</a>
                {% endfor %}
            </div>
        </div>
        <div class='block-content' id='recent-post'>
            <h3>最近3篇文章</h3>
            <ol class='recent-post'>
                {% for post in site.posts offset:0 limit:3 %}
                    <li><a href="{{ post.url }}"> {{ post.title }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</aside>
<article>
    <div class='wrapper'>      
        <div class='content'>
            <ul class='posts'>
        　　　　{% for post in site.categories.opinion %}
        　　　　　　<li>
                        <h3 class='post-title'><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        <p class='post-info'><span class='post-time'>{{ post.date | date: "%Y-%m-%d" }}</span></p>
                        <div class='post-description'>{{ post.description }}</div>
                    </li>
        　　　　{% endfor %}
        　　</ul>
        </div>
    </div>
</article>
