---
layout: main
title: Jerry Yang
---
<article>
    <section>
        <h3>projects</h3>
        <ul class='projects'>
            <li>
                <a>jQuery</a>
                <ul class='sub-item'>
                    <li><a href="http://pashanhu.github.io/jQuery-datepicker/">jQuery datepicker</a></li>
                    <li><a href="http://pashanhu.github.io/jQuery-progressbar/">jQuery progressbar</a></li>
                </ul>
            </li>
            <li>
                <a>node+express+mongodb</a>
                <ul class='sub-item'>
                    <li><a href="">microblog</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h3>posts</h3>
        <ul class='posts'>
    　　　　{% for post in paginator.posts %}
    　　　　　　<li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
    　　　　{% endfor %}
    　　</ul>
        <div>
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
            {% endif %}
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <span class="active">{{ page }}</span>
                {% elsif page == 1 %}
                  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}{{ site.paginate_path }}</a>
                {% else %}
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page }}</a>
                {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
            {% endif %}
        </div>
    </section>
</article>
<aside>
    <div class='user'>
        <img src="images/h1.jpg">
        <ul class='contact'>
            <li><a class='font-icon mail' href='mailto:pashanhu6@hotmail.com'></a></li>
            <li><a class='font-icon git' href='https://github.com/PaShanHu'></a></li>
        </ul>
        <p>UI设计-前端-程序员</p>
    </div>
    <div class='description'>
        <p>冠盖满京华，斯人独憔悴。</p>
    </div>
</aside>