---
layout: home
title: Blog -- 技术
---
<aside>
    <div class='wrapper'>
        <div class='block-content' id='logo'>
            <a href="/"><img src="/images/homepage/logo.png"></a>
        </div>
        <div class='block-content' id='author-info'>
            <div class='user'>
                <img src="/images/h1.jpg">
                <ul class='contact'>
                    <li><a class='font-icon mail' href='mailto:pashanhu6@hotmail.com'></a></li>
                    <li><a class='font-icon git' href='https://github.com/PaShanHu'></a></li>
                </ul>
                <p>UI设计-前端-程序员</p>
            </div>
            <div class='description'>
                <p>冠盖满京华，斯人独憔悴。</p>
            </div>
        </div>
        <div class='block-content' id='categories'>
            <h3>文章分类</h3>
            <div class='categories'>
                {% for category in site.categories %}
                        {% if category contains "opinion" %}
                            <a class='category' href="/{{ category | first }}"><span class='active'>生活感想</span>
                        {% endif %}
                        {% if category contains "project" %}
                            <a class='category active' href="/{{ category | first }}"><span>项目</span>
                        {% endif %}
                        {% if category contains "tech" %}
                            <a class='category' href="/{{ category | first }}"><span>技术文章</span>
                        {% endif %}
                        <i>{{ category | last | size }}</i>
                    </a>
                {% endfor %}
                {% if site.categories contains "project" %}
                {% else %}
                    <a class='category active' href="/project/"><span>项目</span><i>2</i></a>
                {% endif %}
            </div>
        </div>
        <div class='block-content' id='tags'>
            <h3>文章标签</h3>
            <div class='tags'>
                {% for tag in site.tags %}
                    <a class='tag' href="/{{ tag | first }}/{{ tag | last | size }}"> {{ tag[0] }}</a>
                {% endfor %}
            </div>
        </div>
        <div class='block-content' id='recent-post'>
            <h3>最近3篇文章</h3>
            <ol class='recent-post'>
                {% for post in site.posts offset:0 limit:3 %}
                    <li><a href="{{ post.url }}"> {{ post.title }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</aside>
<article>
    <div class='wrapper'>      
        <div class='content'>
            <ul class='posts'>
    　　　　　　<li>
                    <h3 class='post-title'><a href="http://pashanhu.github.io/jQuery-datepicker/">jQuery插件——datepicker</a></h3>
                    <p class='post-info'><span class='post-time'>2013-10-20</span></p>
                    <div class='post-description'>
                        <p>jQuery的日历插件。</p>
                        <p>本插件与jQuery协同工作，主要是一个弹出框，共用户选择日期，并为日期提供格式化，提高用户的日期输入体验，一定程度防止非法输入。另外，插件比一般日期插件增加了直接选择月份、年份的功能，这算是亮点。</p>
                    </div>
                </li>
                <li>
                    <h3 class='post-title'><a href="http://pashanhu.github.io/jQuery-progressbar/">jQuery插件——progressbar</a></h3>
                    <p class='post-info'><span class='post-time'>2013-10-20</span></p>
                    <div class='post-description'>
                        <p>jQuery的进度条插件。</p>
                        <p>学习jQuery插件编程的第一个作品，主要是用于表现事件步骤之类的，与传统的进度条稍有不同。</p>
                    </div>
                </li>
        　　</ul>
        </div>
    </div>
</article>
